@model mksolucion.Models.ntf02_tiponotificacioncorreo

@{
    ViewBag.Title = "Eliminar Tipo de notificación de correo";
    Layout = Session["layout"].ToString();
}

<h2>Eliminar Tipo de notificación de correo</h2>

<h3>¿Esta segurio de eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gen01_estados.gen01_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gen01_estados.gen01_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntf02_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntf02_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntf02_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntf02_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "Index")
        </div>
    }
</div>
