@model mksolucion.Models.pln02_tipoplan

@{
    ViewBag.Title = "Eliminar Tipo de Plan";
    Layout = Session["layout"].ToString();
}

<h2>Eliminar Tipo de Plan</h2>

<h3>¿Esta segurio de eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pln02_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln02_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln02_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln02_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.pln02_id)
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "Index")
        </div>
    }
</div>
