@{
    ViewBag.Title = "Usuarios";
    Layout = Session["layout"].ToString();
}

<div class="container">
    <div class="row" style="margin:auto">
        <div>Abrir ticket / elige el departamento</div>
        <div style="margin:auto; padding-top:20px">
            <div class="col-md-2 col-sm-offset-1">
                @Html.ActionLink("Editar", "Edit", "EstadosActivacion", new { area = "portal" }, new { @class = "boton_soporte", @style = "background:url('../../Content/assets/Images/ticket_soporte.png') no-repeat center right;" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Editar", "Edit", "EstadosActivacion", new { area = "portal" }, new { @class = "boton_soporte", @style = "background:url('../../Content/assets/Images/ticket_pago.png') no-repeat center right;" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Editar", "Edit", "EstadosActivacion", new { area = "portal" }, new { @class = "boton_soporte", @style = "background:url('../../Content/assets/Images/ticket_venta.png') no-repeat center right;" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Editar", "Edit", "EstadosActivacion", new { area = "portal" }, new { @class = "boton_soporte", @style = "background:url('../../Content/assets/Images/ticket_soporte.png') no-repeat center right;" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Editar", "Edit", "EstadosActivacion", new { area = "portal" }, new { @class = "boton_soporte", @style = "background:url('../../Content/assets/Images/ticket_soporte.png') no-repeat center right;" })
            </div>
        </div>
    </div>
</div>
