<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Telerik MVC Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.dataviz.bootstrap.min.css" rel="stylesheet" type="text/css" />
   
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/kendo.aspnetmvc.min.js"></script>

	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

    @RenderSection("header", required: false)

</head>
<body>
    <header>
        <div class="mbr-table">
   
                <nav id='cssmenu' class="navigation-left float-left">
                    <div class="logo" style="padding:10px; display:block; width:150px"><a href="index.html">Responsive </a></div>
                    <div id="head-mobile"></div>
                    <div class="button"></div>
                    <ul class="linear-list selfclear mbr-table-cell">

                        <li class='active'><a href='#'>HOME</a></li>
                        <li><a href='#'>Campañas</a></li>
                        <li><a href='#'>Plantillas</a></li>
                        <li><a href='#'>Listas</a></li>
                        <li>
                            @Html.ActionLink("Soporte", "Index", "soporte", new { area = "portal" }, new { @class = "dropdown-item" })
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                   
                </nav>
           
            
                
          
        </div>
</header>
    <section class="section" style="padding-top:10px; min-height:450px;">
        <div class="container">
            <div class="row" style="padding-bottom:30px;">

                @RenderBody()
                
            </div>
        </div>
    </section>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-18 col-md-12">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="text-muted">Copyright © 2002-2015 Telerik. All rights reserved.</p>
                </div>
            </footer>
    @RenderSection("scripts", required: false)

    @(Html.Kendo().Window()
    .Name("window")
    .Title("TU SESIÓN EXPIRÓ")
    .Content(
    @<text>
        <div class="timeout">
            <div class="header">
                Session Caducada!
            </div>
            <div class="body">
                Tu session expirara en &nbsp;<span id="seconds"></span>&nbsp;Segundos.<br />
                Quieres reiniciarla?
            </div>
            <div class="footer" align="right">
                @Html.ActionLink("Cerrar sesión", "Index", "Admin", new { Area = "portal" }, new { @class = "timeoutbutton" })

                <a id="timeout-keep-signin-btn" class="timeoutbutton" onclick="ResetSession()">Mantener Sesion</a>
            </div>
        </div>
    </text>)
    .Draggable()
    .Resizable()
    .Height(250)
    .Width(400)
    .Visible(false)
    )

            <script>

                var sessionTimeoutWarning = @Session.Timeout - 1;



                $(document).ready(function () {

                    SessionExpireAlert(@Session.Timeout * 1000 * 60);

                    $("#close").click( function (e) {
                        $("#window").data("kendoWindow").close();
                    });

                });


                function SessionExpireAlert(timeout) {

                    var seconds = timeout / 1000;
        
                    /*document.getElementsByName("secondsIdle").innerHTML = seconds;*/
                    document.getElementsByName("seconds").innerHTML = seconds;

                    setInterval(function () {
                        seconds--;
                        document.getElementById("seconds").innerHTML = seconds;
                        /*document.getElementById("secondsIdle").innerHTML = seconds;*/
            
                    }, 1000);

                    setTimeout(function () {
                        $("#window").data("kendoWindow").center();
                        $("#window").data("kendoWindow").open();
                    }, timeout - (60 * 1000));

                    setTimeout(function () {
                        window.location = "http://localhost:13800/";
                    }, timeout);

                };

                function ResetSession() {
                    //Redirect to refresh Session.
                    window.location = window.location.href;
                }

                function CloseWindows() {
                    var radwindow = $find('<%=modalPopup.ClientID %>');
                    radwindow.close();
                }

                $(document).ready(function () {
                    $("#responsive-panel").kendoResponsivePanel({
                        breakpoint: 768,
                        autoClose: false,
                        orientation: "top"
                    });
                });
                function onclick(e) {
                    $("#responsive-panel").getKendoResponsivePanel().toggle();
                }
                


                (function ($) {
                    $.fn.menumaker = function (options) {
                        var cssmenu = $(this), settings = $.extend({
                            format: "dropdown",
                            sticky: false
                        }, options);
                        return this.each(function () {
                            $(this).find(".button").on('click', function () {
                                $(this).toggleClass('menu-opened');
                                var mainmenu = $(this).next('ul');
                                if (mainmenu.hasClass('open')) {
                                    mainmenu.slideToggle().removeClass('open');
                                }
                                else {
                                    mainmenu.slideToggle().addClass('open');
                                    if (settings.format === "dropdown") {
                                        mainmenu.find('ul').show();
                                    }
                                }
                            });
                            cssmenu.find('li ul').parent().addClass('has-sub');
                            multiTg = function () {
                                cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
                                cssmenu.find('.submenu-button').on('click', function () {
                                    $(this).toggleClass('submenu-opened');
                                    if ($(this).siblings('ul').hasClass('open')) {
                                        $(this).siblings('ul').removeClass('open').slideToggle();
                                    }
                                    else {
                                        $(this).siblings('ul').addClass('open').slideToggle();
                                    }
                                });
                            };
                            if (settings.format === 'multitoggle') multiTg();
                            else cssmenu.addClass('dropdown');
                            if (settings.sticky === true) cssmenu.css('position', 'fixed');
                            resizeFix = function () {
                                var mediasize = 700;
                                if ($(window).width() > mediasize) {
                                    cssmenu.find('ul').show();
                                }
                                if ($(window).width() <= mediasize) {
                                    cssmenu.find('ul').hide().removeClass('open');
                                }
                            };
                            resizeFix();
                            return $(window).on('resize', resizeFix);
                        });
                    };
                })(jQuery);

                (function ($) {
                    $(document).ready(function () {
                        $("#cssmenu").menumaker({
                            format: "multitoggle"
                        });
                    });
                })(jQuery);


            </script>
</body>
</html>
