@model mksolucion.Models.con02_tipocontacto

@{
    ViewBag.Title = "Editar Tipo Soporte";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Editar Tipo Soporte</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Complete la información solicitada</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.con02_id)
        @Html.HiddenFor(model => model.con02_estado)

        <div class="form-group">
            @Html.LabelFor(model => model.con02_nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.con02_nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.con02_nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.con02_descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.con02_descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.con02_descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.con02_usuariocredencial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.con02_usuariocredencial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.con02_usuariocredencial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.con02_usuariocredencialclave, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.con02_usuariocredencialclave, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.con02_usuariocredencialclave, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.con02_host, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.con02_host, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.con02_host, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.con02_port, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.con02_port, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.con02_port, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.con02_ssl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">

                @(Html.Kendo().DropDownList()
                  .Name("cbx_ssl")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Value(Model.con02_ssl.ToString())
                  .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "Activar",
                          Value = "1"
                      },
                      new SelectListItem() {
                          Text = "Desactivar",
                          Value = "0"
                      }
                  })
                  .Value("1")
                  .HtmlAttributes(new { style = "width: 100%" })
                )
                
                @Html.ValidationMessageFor(model => model.con02_ssl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index")
</div>
