@model mksolucion.Models.ntf03_mensajepredef

@{
    ViewBag.Title = "Nuevo Mensaje Predefinidos de Contacto";
    Layout = Session["layout"].ToString();
}

<h2>Nuevo Mensaje Predefinidos de Contacto</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ingrese los campos solicitados</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ntf02_id, "Tipo de Cobro", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @(Html.Kendo().DropDownList()
                    .Name("cbxtiponotificacion")
                    .HtmlAttributes(new { style = "width:100%", required = "required" })
                    .OptionLabel("Seleccione Tipo de Notificación")
                    .DataTextField("ntf02_nombre")
                    .DataValueField("ntf02_id")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetTipoNotificacion", "Combos");
                        }).ServerFiltering(true);
                    })
                )

                @Html.ValidationMessageFor(model => model.ntf02_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntf03_accesoRapido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntf03_accesoRapido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntf03_accesoRapido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntf03_descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntf03_descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntf03_descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntf03_Asunto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntf03_Asunto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntf03_Asunto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntf03_mensajetxt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ntf03_mensajetxt, new { placeholder = "MENSAJE", rows = "3", @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.ntf03_mensajetxt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntf03_mensajehtml, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @(Html.Kendo().EditorFor(model => model.ntf03_mensajehtml)
                    .Name("edit_ntf03_mensajehtml")
                    .HtmlAttributes(new { style = "height:300px", aria_label = "editor", @class="col-md-8" })
                      .Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                          .Print()
                  )
                    .Resizable(resizable => resizable.Content(true).Toolbar(true))
                    .ImageBrowser(imageBrowser => imageBrowser
                      .Image("~/Content/UserFiles/Images/{0}")
                      .Read("Read", "ImageBrowser")
                      .Create("Create", "ImageBrowser")
                      .Destroy("Destroy", "ImageBrowser")
                      .Upload("Upload", "ImageBrowser")
                      .Thumbnail("Thumbnail", "ImageBrowser")
                  )
      
                )

                

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Nuevo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>
