@model mksolucion.Models.ntf03_mensajepredef

@{
    ViewBag.Title = "Eliminar Mensajes Predefinidos de Contacto";
    Layout = Session["layout"].ToString();
}

<h2>Eliminar Mensajes Predefinidos de Contacto</h2>

<h3>¿Esta segurio de eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gen01_estados.gen01_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gen01_estados.gen01_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntf03_accesoRapido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntf03_accesoRapido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntf03_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntf03_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntf03_Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntf03_Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntf03_mensajetxt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntf03_mensajetxt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntf03_mensajehtml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntf03_mensajehtml)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "Index")
        </div>
    }
</div>
