@model mksolucion.Models.crr02_tipoclasificacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Eliminar clasificación de listas de correo</h2>

<h3>¿Esta segurio de eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gen01_estados.gen01_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gen01_estados.gen01_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crr02_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crr02_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crr02_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crr02_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "Index")
        </div>
    }
</div>
