@model mksolucion.Models.cnt02_tipocuenta

@{
    ViewBag.Title = "Details";
    Layout = Session["layout"].ToString();
}

<h2>Detalle Tipos de Cuentas de Clientes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gen01_estados.gen01_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gen01_estados.gen01_nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cnt02_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnt02_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnt02_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnt02_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cnt02_id }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
